<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="maths, kayzad, kaizad, teacher, math, mumbai, tutor, tuitions, mathematics, interactive, icse, igcse">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="description" content="Kayzad is a South Mumbai based math tutor using interesting techniques and latest technological tools to teach kids math in a visually fun way to which today's kids respond positively. This website will give you a brief idea of how this fun way of learning math works ">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="Kayzad">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon4.ico" rel="icon">

  <title>Kayzad, animation based math tutor icse, igcse</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet">

<link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />

</head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./results.html" title="">05 : Results</a></li>
          <li><a href="./testimonials.html" title="">06 : Testimonials</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>

        </ul>


      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->

  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/bkimg3.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <div>
                 <video width = 500 class = "video-js" controls poster = "./static/assets/images/logo.png" data-setup="{}">
                 <source src="./static/website.mp4" type="video/mp4"> 
                 <p class="vjs-no-js">
                 To view this video please enable JavaScript, and consider upgrading to a
                 web browser that
                 <a href="https://videojs.com/html5-video-support/" target="_blank"
                 >supports HTML5 video</a>
                 </p>   
                 </video>

              </div>
            
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Kayzad</span>
                  <span>Math Teacher</span>
                  <span>Making Math Fun to Learn
                  </span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  


  
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

  <script src="https://vjs.zencdn.net/7.8.3/video.js"></script>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>